:root {
    --logo-pink: #F8D1F3; /*mainly logo*/
    --red-brown-black: #271D16; /*mainly body text*/
    --grey-green: #A4ABA1; /*accent*/
    --dark-green: #2D362B; /*buttons, accent*/
    --grey-tri-blue: #667688; /*used by tri*/
    --red-brown: #5C2B27; /*buttons text*/
}