:root {
    --logo-pink: #F8D1F3; /*mainly logo*/
    --red-brown-black: #271D16; /*mainly body text*/
    --grey-green: #A4ABA1; /*accent*/
    --grey-opacity: rgba(255,255,255,0.4);
    --light-green: #9DC9A6; /*button main*/
    --dark-green: #2D362B; /*buttons, accent*/
    --grey-tri-blue: #667688; /*used by tri*/
    --highlight-blue: #314D6E;
    --red-brown: #5C2B27; /*buttons text*/
}

@font-face {
    font-family: "DejavuSans";
    src: 
        local("DejavuSans"),
        url('./font/dejavu-sans/DejaVuSans.ttf') format("truetype"),
        url('./font/dejavu-sans/DejaVuSansCondensed.ttf') format("truetype");
}
@font-face {
    font-family: "Inkfree";
    src:
        local("Inkfree"),
        url('./font/Inkfree.ttf') format("truetype");
}
@font-face {
    font-family: "Cambria";
    src:
        local("Cambria"),
        url('./font/Cambria.ttf') format("truetype");
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    font-family: "DejavuSans", Arial, Helvetica, sans-serif;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.triback {
    background-color: var(--grey-tri-blue);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    width: 100%;
    height: 100%;
    z-index: -2;
}

.bg_image {
    width: 100%;
    height: 100%;
    background-image: url('./art/sebastiano-piazzi-unspalsh-stairs.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    z-index: -4;
    filter: blur(5px);
}

.site_head {
    width: 100%;
    top: 0;
}

.logo {
    text-align: center;
    color: var(--logo-pink);
    font-family: "Inkfree", Arial, Helvetica, sans-serif;
    box-shadow: inset 0 2px 1px var(--highlight-blue), inset 0 -2px 1px var(--highlight-blue);
    padding: 4px;
}

.top_nav {
    width: 100%;
    margin-top: 0;
}

.top_nav ol {
    list-style: none;
    display: flex;
    gap: 25%;
    justify-content: center;
    align-items: center;
}

.top_nav ol:first-child {
    padding-left: 0;
}

.top_nav a {
    text-decoration: none;
}

.navigation_button {
    color: var(--red-brown);
    background-color: var(--light-green);
    padding: 6px;
    font-family: "Cambria", Arial, Helvetica, sans-serif;
}

.shadow_left {
    box-shadow: -6px 1px 6px var(--dark-green);
}
.shadow_right {
    box-shadow: 6px 1px 6px var(--dark-green);
}
.shadow_down {
    box-shadow: 0 6px 6px var(--dark-green);
}

.width_constrained {
    width: 90%;
    margin: 0 auto;
}

.blue_backing {
    background-color: var(--grey-tri-blue);
}

.content {
    padding-bottom: 3em;
    background-color: var(--grey-opacity);
}

.welcome {
    text-align: center;
}
.welcome h2 {
    margin-bottom: 2em;
}
.welcome p {
    margin-bottom: 1em;
}

#welcome, #projects, #contact {
    width: 100%;
    height: 4em;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project h2 {
    margin-bottom: 1em;
}
.project h3 {
    margin-top: 1em;
}
.project p {
    margin: 1em;
}
.project_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    gap: 6vw;
}
.project_links a {
    text-decoration: none;
}

.project-photo {
    width: 90%;
    height: auto;
    border: 6px solid var(--dark-green);
}

.site_footer {
    bottom: 0;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 6px;
}

.site_footer a {
    text-decoration: none;
}

